.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 450px;
    width: 300px;
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.main input {

    border: 1px solid grey;
    border-radius: 5px;

    width: 200px;
    height: 25px;
    margin: 10px;
}

.main button {
    cursor: pointer;
    background-color: rgb(100, 100, 100);
    color: white;
    border: 1px solid rgb(65, 65, 65);
    border-radius: 5px;
    width: 50px;
    height: 25px;
    margin: 10px;
}


.main button:hover {
    background-color: rgb(63, 63, 63);
    color: white;
}
